@value makerBlack, makerWhite from "../../common/colors.css";

.form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border-top: 1px solid makerBlack;
  border-left: 1px solid makerBlack;
}

.input,
.textarea,
.select,
.button,
.fileInput {
  font-size: 1rem;
  width: 100%;
  padding: 0.5em;
  border: 0;
  border-bottom: 1px solid makerBlack;
  border-right: 1px solid makerBlack;
  background: makerWhite;
}

.input,
.select {
  flex: 1 1 30%;
}
.fileInput {
  padding: 0;
  flex: 1 1 50%;
}
.textarea {
  flex-basis: 100%;
}