body {
  background-color: rgba(24, 23, 23, 0.952);
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 3.5rem;
  background-color: black;

}

.search-input {
  height: 1.5rem;
  width: 20rem;
}

.search-button {
  background-color: white;
}

.icon {
  font-size: 1.5rem;
  color: #ffffff;
}

.video-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  margin: 1rem;
}

.video-player {
  display: flex;
  flex-direction: row
}

#player {
  margin: 2rem;
}



.video-container .video-article {
  flex-basis: auto;
  margin: 0 0.7rem;
  cursor: pointer;
}
.video-thumbnail{
  width: 20rem;
  height: 15rem;
}
.video-title {
  width: 20rem;
  overflow: hidden;
  font-family: "Roboto","Arial",sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
}
.video {
  display: flex;
  flex-direction: column;
}
.video-infomation {
  color: white;
  margin: 0 auto;
}

.video-box {
  margin: 0 0 0 auto;
  cursor: pointer;
}
button {
  cursor: pointer;
}

.back-button {
  cursor: pointer;
}