.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 3.5rem;
  background-color: black;

}

.search-input {
  height: 1.5rem;
  width: 20rem;
}

.search-button {
  background-color: white;
}

.icon {
  font-size: 1.5rem;
  color: #ffffff;
}

.video-container {
  display: grid;
  margin: 0.5rem 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(20%, 25%));
  grid-template-rows: repeat(auto-fill, minmax(20%, auto));
  gap: 1rem 1rem;

  align-items: stretch;
  align-content: stretch;
}

.video-article {
  cursor: pointer;
}
.video-thumbnail{
  width: 100%;
  height: 15rem;
}

button {
  cursor: pointer;
}