.search-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 3.5rem;
  background-color: black;

}

.search-input {
  height: 1.5rem;
  width: 20rem;
}

.search-button {
  background-color: white;
}

.icon {
  font-size: 1.5rem;
  color: #ffffff;
}
