table,
th,
tbody,
tr,
td {
  border: 0.1px solid black;
  border-collapse: collapse;
}

.table {
  width: 95%;
  height: 100%;
  margin: 0 0 3rem 1rem;
  table-layout: fixed;
}

input {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
}

select {
  width: 100%;
  border: 0;
  font-size: 1rem;
}


.file {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 1px solid pink;
  padding: 0;
  background-color: pink; 
}

.add {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 3px solid purple;
  padding: 0;
  background-color: purple; 
  color: white;
}